---
// Footer.astro
---
<footer class="site-footer">
    <p>
        This is a simple personal website that is currently enriching content.
        If there's any inspiration here, feel free to use the 
        <a href="https://github.com/Yuchen10101/website">source code</a>.
    </p>
</footer>

<style>
    .site-footer {
        background-color: #bebebe;
        color: white; 
        text-align: center;
        padding: 5px 0;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .site-footer p {
        margin: 0;
        font-size: 0.9rem;
    }

    .site-footer a {
        color: rgb(60, 60, 60);
        text-decoration: none;
    }

    .site-footer a:hover {
        text-decoration: underline;
    }
</style>