---
// ResearchCard.astro
import ResearchElement from '../components/ResearchElement.astro';
const title = "RESEARCH"
---
<div class="research-card">
    <div class="vertical-title">{title}</div>
    <ResearchElement
        title="Characterizations of Voluntary and Involuntary Imagery in Aphantasia [Preprint]"
        href="https://doi.org/10.31219/osf.io/n6xpr"
        imageSrc="/website/Research1.png"
        description='Suna Duan*, Yuchen Yang*, Kangxin Li, and Binglei Zhao'
        pdflink = "/website/Characterizations of Voluntary and Involuntary Imagery in Aphantasia.pdf"
    />
</div>

<style>
    .research-card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        position: relative;
        overflow: hidden;
        width: 80%; 
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        transition: transform 0.3s ease-in-out;
    }
    .research-card:hover {
        transform: translateY(-5px);
    }

    .vertical-title {
        position: absolute;
        top: 0;
        left: 0;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        margin: 20px;
        font-size: 2rem;
        font-weight: bold;
        color: #333;
    }
</style>