---
// SelfIntroCard.astro
const title = "About Me";
---
<div class="intro-card">
    <div class="content">
        <h2>{title}</h2>
        <p>
            Hi there! I recently received my Bachelor's degree in Mechanical Engineering from 
            <a href="https://me.sjtu.edu.cn/en/">Shanghai Jiao Tong University</a>, 
            where I worked with Prof. 
            <a href="https://me.sjtu.edu.cn/en/FullTimeTeacher/shengxinjun.html">Xinjun Sheng</a> 
            on robot learning. I also had the opportunity to collaborate with Dr. 
            <a href="https://lwdlab.sjtu.edu.cn/teachers/89.html">Binglei Zhao</a> 
            on research in cognitive science and neuroimaging.
        </p>
        <p>
            Starting this fall, I will be pursuing my Master's degree in Mechanical Engineering at the 
            <a href="https://www.me.washington.edu/">University of Washington</a>.
        </p>
        <p>
            My research interests lie in human-robot interaction and multimodal information understanding.
        </p>
    </div>
</div>

<style>
.intro-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 55%;
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 500px;
}
.intro-card:hover {
    transform: translateY(-5px);
}

.content {
    padding: 3vw;
    text-align: left;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
    box-sizing: border-box;  
}
.content::-webkit-scrollbar {
    width: 8px;
}
.content::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
}
.content::-webkit-scrollbar-track {
    background-color: transparent;
}

h2 {
    margin: 1.2em 0;
    font-size: 1.8rem;
}

a {
    color:rgb(98, 98, 98);
    text-decoration: underline;
    transition: color 0.3s ease;
}

a:hover {
    color:rgb(167, 167, 167);
}

p {
    margin: 1em 0;
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgba(0,0,0,1);
}
</style>